body{
   background-image: url('/img/logo2.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;

}


h1{
    font-family: "Chakra Petc", system-ui;
  font-weight: 20px;
  font-style: normal;
}
h6
{
    font-family: "Chakra Petch", system-ui;
    font-size: 10px;
    font-style: normal;
    text-align: center;
}
h2{
    font-family: "Chakra Petch", system-ui;
    font-size: 10x;
    font-style: normal;
}  .imagen-pequena {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 300px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Esto mantiene la proporción de la imagen y corta el exceso si es necesario */
}

th, td {
    width: 60px; /* Ajusta el ancho de las celdas según sea necesario */
    height: 70px; /* Ajusta la altura de las celdas según sea necesario */
}
.video-container {
    margin-top: 30px;
    text-align: center;
}
