body{
    background: #d5f466;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e6f988, #FFF200, #7f9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a9c91e8c, #FFF200, #966e00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}