body{
    background: #230096;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001eff, #0008ff, #008996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0077ff, #0055ff, #570096); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}